img {
    width: 250px;
    height: 250px;
}

.description {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: rgb(192, 190, 190);
    position: relative;
    border: 5px solid #555;
}

.button {
    display: inline;
}

.text {
    position: absolute;
    top: 50%;
    transform: translate(0, -75%);
}